html, body {
  margin: 0;
  padding: 0;
  background-color: #F0F8FF;
  font-family: "JetBrains Mono", monospace;
  color: #222222;
  overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 1.5fr .7fr .7fr auto .5fr;
    padding: 0;
    margin: 0;
}

.header {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  background-image: url("./Assets/images/abstractblue.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile {
  display: flex;
  justify-content:flex-start;
  align-items:center;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.profile-photo {
  height: 7rem;
  width: 7rem;
  border-radius: 5%;
}

h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0;
}

h2 {
  font-size: 1rem;
  font-weight: lighter;
  margin: 0;
}

.info {
  display: flex;
  gap: .7rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.menu {
  list-style-type: none;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dcdcdc;
  width: 100%;
  padding: .7rem 0;
  font-size: 1rem;
}

.menu a {
  color: black;
  margin-left: .5rem;
  padding: .1rem 0 .1rem .5rem;
  width: 100%;
}

.menu a:hover {
  color: black;
  margin-left: .5rem;
  background-color: #e0ffff;
  border-radius: 5%;
  padding: .1rem 0 .1rem .5rem;
}

.footer {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 1.5rem;
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.copywright {
  font-size: .9rem;
  margin: 0;
}

@media (max-width: 999px) {
  .footer {
    grid-column: 2;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
  }

  .btn-primary {
    padding: .2rem .8rem;
  }
}

@media (max-width: 450px) {

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: .7rem;
  }

  .menu > li {
    font-size: .7rem;
    padding: .4rem 0;
  }

  .menu-icon {
    height: 1rem;
    width: 1rem;
  }

  .btn-primary {
    padding: .2rem .7rem;
  }

  .bi-twitter {
    height: .8rem;
    width: .8rem;
  }

}

@media (max-height: 550px) {
  .profile {
    flex-direction: column;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    padding: .5rem;
  }
}
